.header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.chatInputField{
    flex: 1 1 250px; 
    max-width: 550px;
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid black;
    margin-right: 10px;
    box-sizing: border-box;
}

.sendButton{
    flex-shrink: 0; 
    background-color: green;
    color: white;
    padding: 12px 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
